/* this one contains all the body style */
.container {
  width: 90%;
  max-width: 640px;
  margin: 0 auto;
}

#main {
  transition: margin-left 0.5s ease;
  padding-top: 100px;
  overflow: hidden;
  width: 100%;
  margin: 0;
  height: 100%;
}

/* this style is to set a profile picture */
.bunder {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-image: url(../img/profile.jpg);
  background-size: cover;
}

/* this stuff is to set a translate button style */

.navbar .translate {
  float: right;
  text-decoration: none;
  padding: 3px 12px;
  margin: 14px 16px;
  background: black;
  color: #fff;
  border-radius: 20px;
}

/* this style is to set a text stuff */
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  color: #fff;
  /*background-color: #222;*/
  background-image: url("../img/bg.svg");
}

/* this contains all the embedded content property */
.responsive-youtube {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border-radius: 20px;
}
.responsive-youtube iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* this style is to set a text under sentences title */
.interest {
  color: #fff;
  text-align: center;
}

/* this style is to set an icons property */
.socmed {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socmed a {
  margin: 0 20px;
  font-size: larger;
  color: #b3b3b3;
}

/* this style contains a text style */
.footer {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-align: center;
  color: gray;
}

/* this style contains navigation bar */
.navbar {
  position: fixed;
  background-color: #181717;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
  overflow: hidden;
  height: 63px;
  width: 100%;
  z-index: 1;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar ul {
  padding: 8px 0 0 0;
  list-style: none;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 90%;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s ease;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccccccd4;
  display: block;
  transition: 0.3s ease;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 10px;
}
